html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	text-decoration: none;
}

#app {
	height: 100%;
	max-width: 768px;
}

#menu {
	width: 100%;
	height: 80px;
	position: relative;
}

.menu-item {
	display: block;
	float: left;
	background: grey;
	width: 25%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: white;
	border-left: 1px solid black;
	border-bottom: 1px solid black;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menu-item:last-child {
	border-right: 1px solid black;
}

.active-menu {
	position: absolute;
	left: 0;
	width: 25%;
	height: 80px;
	background: #fff;
	z-index: 2;
	opacity: 0.5;
}

.carousel {
	height: calc(100% - 80px);
}

.carousel div {
	height: 100%;
	background: pink;
	text-align: center;
	padding-top: 100px;
}